.main_logo {
  width: 100px;
  height: 100px;
  position: fixed;
  margin-top: 0px;
}
.nav {
  color: blue;
  margin-left: 45%;
  margin-top: 0px;
  margin-bottom: 2%;
  word-spacing: 75px;
  border-bottom: 2px solid blue;
  margin-bottom: 20px;
  
  
}
.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 50px;}

  
.stat {
  width: 1200px;
  height: 800px;
  background-color: rgb(105, 158, 250);
  margin-left: 550px;
}
  

body{
  background-image: url('background.jpg');
  background-size: cover;
  margin:auto;
  width: auto;
  height: auto;
  
}
button {
  padding-top: 15px;
  margin-bottom: 2px;
  width: 140px;
  height: 40px;
  background-color: white;
  border: solid 1 px blue;
  font-family: "Koulen-Regular";

}

.login_img {
  width: 80px;
  height: 80px;
}
.cont1 {
  width: 600px;
  height: 300px;
  margin-left: 35%;
  margin-bottom:100px;
  background-color:  rgb(105, 158, 250);
  border-radius: 50px;
  font-family: "Koulen-Regular";
  color: white;
  border: 0px;
  border: solid 3px black;
}
.cont2 {
  width: 600px;
  height: 300px;
  margin-left: 35%;
  padding-bottom: 200px;
  background-color:  rgb(105, 158, 250);
  border-radius: 50px;
  font-family: "Koulen-Regular";
  color: white;
  border: 0px;
  border: solid 3px black;
}
.t1 {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 10px;
  margin: 40px;
  border: solid 3px black;
}
.t3 {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  
}
.footer {
  background-color: rgb(0,79,172);
  font-family: "Koulen-Regular";
  color: white;
  margin-bottom: 1px;
  margin-top: 300px;

      }   

.f1 {
  width: 100px;
  height: 100px;
 
}
h3 {
  color: black;
  size: 12;
  font-family: "Koulen-Regular";
}
.teacher {
  width: 400px;
  height: 400px;
  margin-left: 600px;
  margin-bottom: 300px;
  margin-top: 100px;
  border: solid 5px black;
}
.student {
  width: 400px;
  height: 400px;
  margin-left: 550px;
  margin-bottom: 300px;
  margin-top: 100px;
  border: solid 5px black;
}
h1 {
font-size: 50px;
font-family: "Koulen-Regular";


}


.chat1{
  width: 800px;
  height: 700px;
  padding-left: 250px;
}


.st1{
  width: 1100px;
  height: 700px;
  margin-left: 50px;
}

.login {
  width: 1000px;
  height: 500px;
  background-color:  rgb(105, 158, 250);
margin-left: 500px;
border-radius: 50px;
margin-bottom: 500px;
margin-left: 30%;
}
h5{
  font-size: 20px;
  color: white;
  margin-left: 50px;
  font-family: "Koulen-Regular";
}


input {
  height: 30px;
  width: 500px;
  margin-top: 150px;
  margin-left: 10px;
  border-radius: 50px;
}
h2 {
  border-radius: 50px;
  width: 500px;
  height: 30px;
  border: solid 2px black;
  margin-left: 10%;
  background-color: white;
  font-family: "Koulen-Regular";
  padding-left: 150px;

}

.place{
  
  margin-top: 20px;
  margin-left: 150px;
  width: 500px;
  height: 300px;
  margin-bottom: 80px;
  margin-top: 20px;
  
}
.log{
  width: 120px;
  height: 120px;
  background-color: rgb(255, 255, 255);
  margin-left: 115%;
  border-radius: 50px;
  padding-bottom: 100px;
  background-color:rgb(105, 158, 250); ;
}
.enter {
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 30px;
  transform: rotate(270deg);
  margin-left: 4%;
  background-color: white;
  
}

.account_name{
font-size: 5em;
 width:900px;
height: 70px;
background-color: rgb(105, 158, 250);
margin-left: 35%;
padding-left: 7%;
border-radius: 30px;

padding-bottom: 30px;
padding-top: 1px;
border: solid 4px black;
}
.comm{
  width: 70px;
  height: 70px;
}

   table {
    
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            border-radius: 10%;
        }
        th, td {
            
            border: 1px solid  rgb(0,79,172);
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: rgb(0,79,172);
            color: white;
        }

.acc_menu{
  margin-top: 100px;
  margin-left: 42%;
  width: 500px;
  font-size: medium;
  height: 500px;
  
  padding: 30px;

}
 
.message{
  font-size: large;
  width: 500px;
  height: 80px;
  border-radius: 30px;
  background-color: rgb(105, 158, 250);
  border: solid 4px black;
}
.history {

  font-size: large;
  width: 500px;
  height: 80px;
  border-radius: 30px;
  background-color: rgb(105, 158, 250);
  border: solid 4px black;
}
.add {
  font-size: large;
  width: 500px;
  height: 80px;
  border-radius: 30px;
  background-color: rgb(105, 158, 250);
  border: solid 4px black;
}

.history_class{
  width: 1200px;
  height: 900px;
  background-color:  rgb(105, 158, 250);
  margin-left: 300px;
  
}
table{
  margin: auto;
  width: 900px;
  height: 600px;
  background-color: white;
  border-radius: 40px;
  border-radius: 30px;
}



.history_class{
  border-radius: 40px;
}




.add{
  margin-left: 45%;
}

.message{
  margin-left: 45%;

}




.fonr-face{
  font-family: "Koulen-Regular"; 

  src: url("../fonts/Koulen-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
  border:solid 1px black; 
} 